/* src/pages/front/Products.css */
.product-img {
  height: 400px;
  width: 100%;
}

.card-body button {
  margin-top: auto;
}

.product-card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease-in-out;
}

.dropdown-menu {
    z-index: 99999 !important;
}

